<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title }}</title>

         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='contest.css') }}" rel="stylesheet">
    </head>

    <body>
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-left">
                    <a class="nav-link" href="#">Codeforces Local Virtual Contest</a>
                    <a class="nav-link" href="/history">History</a>
                    <a class="nav-link" href="/create">Create Contest</a>
                    <a class="nav-link" href="/login">Login</a>
                </nav>
            </div>
        </header>

        <div class="container">
            <h1>{{ cont[0].contest }}</h1>
            <h2>{{ cont[0].start_time }} 〜 {{ cont[0].end_time }}</h2>

            <table border="1">
                <tr>
                    <th>User name</th>
                    {% for co in cont %}
                        <th><a href="{{ co.problemURL }}" target="_blank">{{ co.problem }}</a></th>
                    {% endfor %}
                    <th>Score</th>
                </tr>
                <tr>
                    <td>{{ cont[0].participant }}</td>
                    {% for co in cont %}
                        {% if co.penalty == 0 and co.ac_time is none %}
                        <td>-</td>
                        {% elif co.penalty != 0 and co.ac_time is not none %}
                        <td><span class="result" id="ac_time">[{{ co.ac_time }}] </span><span class="result" id="penalty">({{ co.penalty }})</span></td>
                        {% elif co.ac_time is not none %}
                        <td><span class="result" id="ac_time">[{{ co.ac_time }}]</span></td>
                        {% else %}
                        <td><span class="result" id="penalty">({{ co.penalty }})</span></td>
                        {% endif %}
                    {% endfor %}
                    <td>
                    {% if sum_time != "00:00" %}
                    <span class="result" id="ac_time">[{{ sum_time }}]</span>
                    {% endif %}
                    {% if sum_penalty != 0 %}
                    <span class="result" id="penalty">({{ sum_penalty}})</span>
                    {% endif %}
                    </td>
                </tr>
            </table>
        </div>


    </body>
</html>