<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title }}</title>

         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='contest.css') }}" rel="stylesheet">
    </head>

    <body>
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-left">
                    <a class="nav-link" href="#">Codeforces Local Virtual Contest</a>
                    <a class="nav-link" href="/history">History</a>
                    <a class="nav-link" href="/create">Create Contest</a>
                    <a class="nav-link" href="/login">Login</a>
                </nav>
            </div>
        </header>

        <div class="container">
            <table border="1">
                <tr>
                    <th>Contest</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                {% for co in cont %}
                <tr>
                    <td><a href="../contest/{{ co.contestID }}">{{ co.contest }}</a></td>
                    <td>{{ co.start_time }}</td>
                    <td>{{ co.end_time }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


    </body>
</html>