<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ title }}</title>

         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    </head>

    <body>
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-left">
                    <a class="nav-link" href="#">Codeforces Local Virtual Contest</a>
                    <a class="nav-link" href="#">History</a>
                    <a class="nav-link" href="#">Login</a>
                </nav>
            </div>
        </header>
        <div class="container">
        <form action="/" method="POST">
            <input type="text" value="" placeholder="Codeforces id" name="codeforcesID">
            <input type="password" value="" placeholder="password" name="password">
            <button type="submit">LOGIN</button>
            </form>
        </div>


    </body>
</html>
